<%- include('header') %>
<div class="login">
    <h1>Stock</h1>
    <form action="/search" method="post">
        <div class="field">
            <input type="name" name="name" placeholder="Name">
        </div>
        <div class="field">
            <input type="size" name="size" placeholder="Size">
        </div>
        <button class="ui button" type="submit">Submit</button>
    </form>
</div>
<%- include('footer') %>
